
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
    font-family: 'AnimalsNormal';
    src: url('fonts/animals-webfont.eot');
    src: url('fonts/animals-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/animals-webfont.woff') format('woff'),
         url('fonts/animals-webfont.ttf') format('truetype'),
         url('fonts/animals-webfont.svg#AnimalsNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

html { height: 100%; }

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}



body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    background: #fff;
    font-weight: 300;
    font-size: 15px;
    color: #333;
    -webkit-font-smoothing: antialiased;
}

a {
	color: #555;
	text-decoration: none;
}

.container {
	width: 100%;
	position: relative;
}



.main {
	width: 90%;
	margin: 0 auto;
	position: relative;
}

.container > header,
.content-wrapper {
	padding: 30px;
	width: 100%;
	margin: 0 auto;
}

.content-wrapper p{
	padding-top: 30px;
	line-height: 26px;
}

.container > header h1 {
	font-size: 34px;
	line-height: 38px;
	margin: 0;
	font-weight: 700;
	color: #333;
	float: left;
}

.container > header h1 span {
	display: block;
	font-size: 20px;
	font-weight: 300;
}
/*personal profile  css*/
 .profile{
	background: ##c6c121;
	background-image: url("../images/zenbg-1.png"), url("../images/zenbg-2.png");
	background-repeat: repeat-x, repeat;
	height:660px;
}
